* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body, html {
    width: 100%;
    height: 100%;
    color: black;
    background-color:  #e5e7e9 
;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Questrial;
}

ul {
    float: right;
    padding: 40px 50px 0 0;
    list-style-type: none;
}

ul li {
    display: inline;
    font-size: 1.5em;

    padding: 0 30px;
}

h1 {
    font-size: 3em;
}

h3 {
    color: tan;
    font-weight: bold;
    padding: 40px 0 0 50px;
    font-family: Rubik;
}


i {
    color: white;
    font-family: "Helvetica";
}


.active {

}

#navigation a {
    color: skyblue;
}

a {
    
}

a:hover {
    text-decoration: none;
}

.col-md-3 a {
    color: #000;
}

.col-md-3 a:hover {
    color: gray;
    text-decoration: none;
}


.container {
    background-color: beige;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    z-index: 3;
   /* border: solid 30px azure; */
}

.header {
    width: 100%;
    background-color: skyblue;
}

h2 {
    color: white;
    padding: 50px 0;
}

.menu {
    margin: 5px 0px;
    width: 265px;
    height: 325px;
    background-color: azure;
    text-align: center;
    border-radius: 0.2em;
    box-shadow: 0px 0px 0.2em lightgray;
}

img {
    display: inline-block;
    width: 95%;
    height: 200px;
    margin: 10px 0;
    
}

h5, p {
    text-align: center;
}

h5 {
    color: navy;
}

#content {
    margin-bottom: 30px;
    z-index: 5;
    position: relative;
}

footer {
    width: 100%;
    height: 70px;
    background-color: skyblue;
}

footer p {
    color: white;
    padding: 25px 0 0 0;
}
